In [1]:
%%capture

import pandas as pd
from tqdm.notebook import tqdm

In [2]:
# mount drive

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Dataset elements

In [29]:
# read csv
train_th2en_df = pd.read_csv('th2en_full.csv', encoding = 'utf-8')
train_th2zh_df = pd.read_csv('th2zh_full.csv', encoding = 'utf-8')
test_df = pd.read_csv('test_full.csv', encoding = 'utf-8')
valid_df = pd.read_csv('valid_full.csv', encoding = 'utf-8')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

**Notation**\
*Columns in traning sets*\
`th_body` : Thai article text\
`th_sum` : Corresponding Thai summary \
`en_body`, `zh_body`: Translated article text \
`en_summary`, `zh_sum`: Translated summary \
`en2th` : Back translation result of `en_summary`/  `zh_sum`: \
`url` : Source url of the original article



---


*Aditional columns in test and validation set*\
Similar to `eng_sum` & `zh_sum`, the `eng_hm_ref` and	`zh_hm_ref` are the translation of Thai summary but used different (better) translation service.\
Note that in the experiment we used `eng_sum` & `zh_sum` *not*  `eng_hm_ref` and	`zh_hm_ref`.

In [28]:
# Training Set (Thai-to-English) 
print('Training set of Th2En contains :', len(train_df), 'articles.') 
train_df.sample(n=2)

Training set of Th2En contains : 310926 articles.

                                                  th_body  ...                                        url
251412  เครือข่ายนักวิชาการเอชไอเอ (HIA Consortium) ร่...  ...  https://news.thaipbs.or.th/content/123892
262896  ชาวเมืองหลิวชิว ซึ่งเป็นบ้านของชาวประมงไต้หวัน...  ...  https://news.thaipbs.or.th/content/170087

[2 rows x 6 columns]

In [32]:
# Training Set (Thai-to-Chinese) 
print('Training set of Th2Zh contains :', len(train_th2zh_df), 'articles.') 
train_th2zh_df.sample(n=2)

Training set of Th2Zh contains : 310926 articles.

                                                  th_body  ...                                        url
152947  เมื่อเวลา 16.00 น. วันที่ 25 ก.พ.59 ร.ต.อ.พงษ์...  ...  https://www.thairath.co.th/content/582487
68591   การซ้อมครั้งสุดท้ายก่อนเกมอุ่นเครื่อง ซิโก้ เก...  ...    https://news.thaipbs.or.th/content/2087

[2 rows x 6 columns]

In [17]:
# Test set
print('Test set contains :', len(test_df), 'articles.') 
test_df.sample(n=2)

Test set contains : 3000 articles.

                                               th_body  ...                                                url
396  พบโจรหนุ่มบุกเดี่ยวชิงทอง 70 บาทที่บางบัวทอง เ...  ...  https://www.thairath.co.th/news/local/central/...
545  โคราชเผชิญภัยแล้งหนัก น้ำเขื่อนใหญ่ 4 แห่งวิกฤ...  ...  https://www.thairath.co.th/news/local/northeas...

[2 rows x 11 columns]

In [27]:
# Validation set
print('validation set contains :', len(valid_df), 'articles.') 
valid_df.sample(n=2)

validation set contains : 3000 articles.

                                                th_body  ...                                                url
1154  วันที่ 8 มิ.ย. 2563 กรมอุตุนิยมวิทยาพยากรณ์อาก...  ...  https://www.thairath.co.th/news/local/bangkok/...
2099  กรมธนารักษ์ เสริมมาตรการป้องกัน และช่วยเหลือผู...  ...  https://www.thairath.co.th/news/local/bangkok/...

[2 rows x 11 columns]